.DS_Store
submission/其他支撑材料
submission/src/datasets/**/*.png
submission/src/datasets/**/*.jpg
submission/src/datasets/**/*.jpeg
submission/src/datasets/**/*.gif
submission/src/datasets/**/*.bmp
submission/src/datasets/**/*.webp
submission/src/datasets/**/*.tiff
submission/src/datasets/**/*.tif
submission/src/datasets/**/*.json
submission/src/mods/*.pth
submission/目录结构.txt
submission/使用说明书.txt
result*.*
*.xlsx

.claude
